<div class="sub-header-box with-menu">
  <div class="wrap">
    <div class="line-item editable-title-wrap">
      <div class="left-item">
        <app-editable-title [icon]="'business'"
          [placeholder]="'Partner Name'"
          [light]="true"
          [readonly]="false"
          (changeValue)="titleVal($event)"></app-editable-title>
      </div>
      <div class="right-item middle">
        <div class="el">
          <app-status [disabledBtn]="!activateButton"
            [active]="activePage"
            (inactive)="inactive($event)"></app-status>
        </div>
        <div class="el settings-placeholder">
          <app-dd-menu [options]="pageSettings"
            [light]="true"
            (select)="selectPageSettings($event)"></app-dd-menu>
        </div>
      </div>
    </div>
    <app-sub-header [light]="true"
      [innerMenuItems]="partnerInnerMenu"></app-sub-header>
  </div>
</div>
<app-onboarding-partner-clients style="display:none" (msgEvent1)="receiveValue($event)"></app-onboarding-partner-clients>
<app-onboarding-partner-details style="display:none"  (msgEvent)="receiveValue($event)"></app-onboarding-partner-details>
<app-onboarding-partner-reports style="display:none"   (msgEvent)="receiveValue($event)"></app-onboarding-partner-reports>
<app-onboarding-partner-merchant style="display:none" [activePath]="activePath" (saveEvent)="saveMerchant($event)"></app-onboarding-partner-merchant>
<router-outlet></router-outlet>